<h1><span>Let's Play Hangman!</span></h1>
<div>
    <form asp-controller="Home" asp-action="Game" method="post">
        Your name:
        <input type="text" name="name" class="input" id="gameName" />
        <input type="submit" id="registerName" value="Register To Play" />
    </form>
</div>

